* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'ChronicaPro-Light';
    src: url(../../EM-Chronica.Pro/ChronicaPro-Light.ttf);
}

html,
body {
    color: hsl(0, 0%, 20%);
    font-family: 'ChronicaPro-Light', Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 12px;
}

.Header-section p {
    font-size: 14px;
}

.header-max-width {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 17px;
}

.header-max-width img {
    width: 140px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid hsl(0, 0%, 70%);
    padding: 4px 6px;
    z-index: 1;
}

.dropdown-content p {
    display: flex;
    align-items: center;
    padding: 4px 6px;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

.dropbtn {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 6px;
    cursor: pointer;
}

#LangDropdown img {
    width: 26px;
}

#LangDropdown span {
    margin: auto 8px;
}

#LangOptions.show {
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid hsl(0, 0%, 70%);
    z-index: 1;
}

#max-widthSection {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px 14px;
}

.childofAll {
    max-width: 1100px;
    /* background-color: #00802b; */
    margin: 0 auto;
    padding: 20px 10px 10px;
}

#headtitle {
    font-size: 20px;
}

#readMsgText {
    margin: 20px 0;
}

.Box {
    /* max-width: 95%; */
    border: 2px solid hsl(0, 0%, 60%);
    margin: 0 auto;
    padding: 10px 8px;
    border-radius: 5px;
    margin: 10px 0;
}

#BTC-ICon {
    height: 25px;
}

.paymethodtitle {
    font-size: 20px;
    font-weight: bold;
}

#info {
    margin: 10px 0 10px;
    line-height: 1.3;
}

#line {
    background-color: hsl(0, 0%, 70%);
    height: 1px;
}

#AddressBTNArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 1000px;
    line-height: 1.5;
}

.lightTextColor {
    color: hsl(0, 0%, 50%);
}

#RedwoodAdress {
    font-size: 16px;
    font-weight: bold;
    color: #f7931a;
    margin: 10px 0;
}

#RedwoodBankAdress {
    font-size: 16px;
    font-weight: bold;
    color: #406a80;
    margin: 10px 0;
}

#AddressText {
    max-width: 60%;
    word-break: break-all;
}

#copyBTN, #copyBTN2 {
    max-width: fit-content;
    max-height: fit-content;
    padding: 2px 8px 3px;
    border-radius: 15px;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
    cursor: pointer;
}

#copyBTN:active {
    background-color: hsl(0, 0%, 50%);
}

#guide {
    margin-top: 10px;
    color: hsl(0, 0%, 60%);
}

#paidBTN {
    margin-top: 8px;
    background-color: #1e528b;
    border: 2px solid hsl(211, 64%, 28%);
    outline: none;
    padding: 7px 8px;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}

.footerSec {
    line-height: 1.5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    max-height: fit-content;
    font-family: 'ChronicaPro-Light';
    font-weight: bold;
}

.subFooter {
    text-align: center;
}

.BookingArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0;
}

#brands-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#brands-container i {
    font-size: 22px;
    background-color: #fe5200;
    color: hsl(0, 0%, 98%);
    border-radius: 50%;
    max-width: fit-content;
    max-height: fit-content;
}

.fa-facebook-f {
    padding: 12px 17px !important;
}

.fa-twitter {
    padding: 14px 12px 12px 14px !important;
}

.fa-instagram {
    padding: 13px 15px;
}

.fa-youtube {
    padding: 13px 12px 14px;
}

.subFooter img {
    margin: 40px 0;
}

#FestLocationAddress {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    color: #1e528b;
    cursor: pointer;
}

#copyrightText {
    font-size: 12px;
    margin: 30px 0 10px;
}

.subFooter a {
    color: #fe5200;
}


.showCopy {
    position: fixed;
    top: 2.5em;
    width: 40%;
    height: 2.5em;
    background-color: hsl(0, 0%, 90%);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29c402c4;
    transition: transform 0.2s ease-in-out;
    animation: scalein 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
}

@keyframes scalein {
    from {
        visibility: hidden;
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }

    to {
        visibility: visible;
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

#HowtoSendCryptoiD {
    display: block;
    margin: 5px 0;
}

.HowtoSendCryptoiD-oL {
    line-height: 1.3;
}

.liss:not(#showList):not(#hideList) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#HowtoSendCryptoiD li {
    text-decoration: none;
    list-style-type: none;
}

#hideList {
    display: none;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

#showList {
    display: block;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

.liss:not(#showList):not(#hideList).ShowLi1 {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
    display: block;
}

#hideList:active {
    background-color: hsl(0, 0%, 60%);
}

#showList:active {
    background-color: hsl(0, 0%, 60%);
}


.liss2:not(#showList2):not(#hideList2) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* #HowtoSendCryptoiD li {
    text-decoration: none;
    list-style-type: none;
} */

#hideList2 {
    display: none;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

#showList2 {
    display: block;
    padding: 5px 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

.liss2:not(#showList2):not(#hideList2).ShowLi12 {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
    display: block;
}

#hideList2:active {
    background-color: hsl(0, 0%, 60%);
}

#showList2:active {
    background-color: hsl(0, 0%, 60%);
}